<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <scripts th:fragment="scripts">
        <script src="../../static/bootstrap-jquery/jquery.min.js" th:src="@{/bootstrap-jquery/jquery.min.js}"></script>
        <script src="../../static/bootstrap-jquery/bootstrap.min.js" th:src="@{/bootstrap-jquery/bootstrap.min.js}"></script>
        <script th:if="${search} == true" th:src="@{/script/script-ajax.js}"></script>
        <script th:if="${timeout} == true" th:src="@{/script/TimeCircles.js}"></script>
        <script th:if="${timeout} == true" type="text/javascript">
            let timeLimit = 30000;
            let urlArray = window.location.pathname.split('/');
            let gameId = urlArray[2];

            setTimeout(function () {
                window.location = '/games/' + gameId + '/timeout';
            }, timeLimit);
        </script>
        <script th:if="${timeout} == true" th:src="@{/script/countdown.js}"></script>
    </scripts>
</html>