<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="../../static/bootstrap-jquery/bootstrap.min.css" th:href="@{/bootstrap-jquery/bootstrap.min.css}"/>
<link rel="stylesheet" href="../../static/custom/style.css" th:href="@{/custom/style.css}"/>

<div class="container">
    <br/>
    <h3>Answer Question</h3>
    <br/>
    <th:block th:object="${question}">
        <div class="form-group col-lg-6">
            <label for="question">Question: </label>
            <br/>
            <textarea class="form-control" readonly="readonly" name="question" id="question" th:data="*{id}" cols="10" rows="5"
                      th:text="*{questionText}"></textarea>
        </div>

        <div class="form-group col-lg-6">
            <div>Possible answers:</div>
            <table id="answer-table">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="answer, iter : *{possibleAnswers}">
                    <td>
                        <div readonly="readonly" id="answer" type="text" class="form-control" th:text="${answer.answerText}"></div>
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="questionId" th:value="*{id}"/>
                            <input type="hidden" name="answerId" th:value="${answer.id}"/>
                            <button class="btn btn-primary" type="submit" th:text="Choose"></button>
                            <div th:replace="fragment/csrf :: csrf"></div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </th:block>
</div>

</html>