<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="../../static/bootstrap-jquery/bootstrap.min.css" th:href="@{/bootstrap-jquery/bootstrap.min.css}"/>
<link rel="stylesheet" href="../../static/custom/style.css" th:href="@{/custom/style.css}"/>

<div class="container">
    <br/>
    <h3>Total Ranking</h3>
    <br/>
    <table id="ranking-table">
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Answered</th>
            <th>Total time</th>
        </tr>
        <th:block th:each="rank, iter : ${ranking}" th:object="${rank}">
            <tr th:attrappend="bgcolor=${#authentication.getName()} == *{username} ? '#adff2f' : 'white'">
                <td th:text="*{position}"></td>
                <td th:text="*{username}"></td>
                <td th:text="*{currentQuestion}"></td>
                <td th:text="*{totalTime}"></td>
            </tr>
        </th:block>
    </table>
</div>

</html>